*.glb !filter !diff !merge binary
*.gltf !filter !diff !merge binary
*.hdr !filter !diff !merge binary
*.jpg !filter !diff !merge binary
*.png !filter !diff !merge binary
*.webp !filter !diff !merge binary
