.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  opacity: 1;
  height: auto;
  min-height: 70vh;
  width: var(--cWidth);
  max-width: var(--cMaxWidth);
  margin: auto;
  padding: 60px 0;
  box-sizing: border-box;
}
.about-me {
  padding: 20px 0px;
  width: 100%;
  max-width: 650px;
}
.about-me h3 {
  font-size: clamp(16px, 1.8vw, 22px);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--accentColor);
  margin-bottom: 20px;
}

.about-me p {
  font-size: clamp(19px, 2.1vw, 32px);
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: 0.2px;
  color: #eae5ec;
  word-break: normal;
}

@media only screen and (min-width: 768px) {
  .about-section {
    padding: 80px 0;
  }
  .about-me {
    max-width: 620px;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: flex-end;
    height: var(--vh);
    padding: 0px;
  }
  .about-me {
    padding: 0px;
    width: 55%;
    max-width: 700px;
  }
  .about-me p {
    font-size: clamp(21px, 1.8vw, 32px);
    line-height: 1.45;
  }
}
@media only screen and (min-width: 1950px) {
  .about-me p {
    font-size: 2.2rem;
    line-height: 1.45;
  }
}
